.success {
	position: absolute;
	top: calc(50% - 156px);
	left: calc(50% - 300px);
}

.success__container {
	padding-top: 53px;
	padding-bottom: 133px;
}

.success__heading {
	width: 265px;
	margin: 0 auto;
	margin-bottom: 18px;

	text-align: center;
	color: #ffffff;
	font-family: "Montserrat Semi-Bold";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
}

.success__text {
	width: 500px;
	margin: 0 auto;

	text-align: center;
	color: #ffffff;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.success-icon {
	position: absolute;
	bottom: 60px;
	left: 268px;
}

@media (max-width: 767px) {
	.success {
		position: absolute;
		left: calc(50% - 150px);
	}

	.success__container {
		padding-top: 43px;
		padding-bottom: 100px;
	}

	.success__heading {
		width: 265px;
		font-size: 24px;
		line-height: 30px;
	}

	.success__text {
		width: 250px;

		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	.success-icon {
		position: absolute;
		bottom: 30px;
		left: 130px;
	}
	
}